@charset "utf-8";
.da-cart{height:650px;width:1020px;margin: 0 auto;padding-bottom:50px;}
a, a:hover, a:visited {color: #666;text-decoration: none;}
/*-------步骤--------*/
.da-cart .cart-top{clear:both}
.da-cart .logo{float: left;width: 280px;margin-right: 20px;height: 40px;background: url(../img/logo.jpg) no-repeat;}
.da-cart .cart-step{border: 1px solid #e5e5e5;height: 38px;width: 615px;float: right;margin-top: 10px;}
.da-cart .cart-step li {color: #cacaca;height: 40px;font-size: 14px;line-height: 40px;float: left;width: 205px;position: relative;}
.da-cart .cart-step li.current {color: #fff;background-color: #f25e5a;z-index: 1;top: -1px;left: -1px;}
.da-cart .cart-step li.step-1.c-pre, .da-cart .cart-step li.step-1.current {left: -1px;top: -1px;}
.da-cart .cart-step li.current .triangle {display: block;border-color: transparent transparent transparent #f25e5a;}
.da-cart .cart-step li .triangle {border-width: 20px 11px;border-style: solid;position: absolute;right: -22px;width: 0;height: 0;line-height: 0;top: 0;display: none;}
.da-cart .cart-step li.current .icon-number {background-color: #fff;color: #f25e5a;}
.da-cart .icon-number {width: 20px;height: 20px;display: inline-block;text-align: center;line-height: 20px;border-radius: 50%;margin: 0 10px 0 52px;font-family: arial;font-weight: 700;background-color: #e5e5e5;color: #fff;}
.da-cart .cart-step li .icon-to {position: absolute;left: auto;right: 0;top: 10px;}
.icon-to {background: url(../img/fu.jpg) no-repeat 0 4px ;vertical-align: middle;display: inline-block;width: 7px;height: 21px;}
/*------订单列表头------*/
.da-cart .cart-table {padding-top: 60px;width:1020px;height:316px;overflow: hidden;}
.da-cart .cart-thead {border: 1px solid #ccc;height: 38px;line-height: 38px;}
.da-cart .cart-table li {float: left;font-size: 12px;color:#666}
.da-cart .cart-thead li.th {text-align: center;}
.da-cart .cart-thead li.th-check {width: 100px;text-align: left;}
.da-cart .cart-thead li.th-check input {margin-left: 18px;margin-right: 16px;}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0;}
.check {width: 14px;height: 14px;vertical-align: middle;margin-right: 3px;margin-top: -3px;}
.da-cart .cart-thead li.th-name {width: 440px;}
.da-cart .cart-thead li.th-price {width: 120px;}
.da-cart .cart-thead li.th-number {width: 116px;}
.da-cart .cart-thead li.th-total {width: 128px;}
.da-cart .cart-thead li.th-handle {overflow: hidden;float: none;}
.da-cart .cart-table .data-empty {width: auto;height: 160px;margin: 0 auto 50px;}
table {border-collapse: collapse;border-spacing: 0;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
tr{display: table-row;vertical-align: middle;border-color: inherit;}
.da-cart .cart-table .data-empty td{padding-top:100px}
.da-cart .cart-table .data-empty td strong {display: block;width: 80px;height: 71px;background: url(../img/cartt.jpg) no-repeat;float: left;margin-right: 30px;}
b, optgroup, strong {font-weight: 700;}
.da-cart .cart-table .data-empty td span {display: block;padding-top: 16px;height: 100px;float: left;font-size: 14px;}
.da-cart .cart-table .data-empty td span a{font-size: 12px;color: #384f61;float: left;margin-top: 10px;}
/*------总计------*/
.da-cart .total-box {height: 58px;border: 1px solid #ccc;width: 1018px;margin: 0 auto;background-color: #f2f2f2;}
.da-cart .total-box .sel-all {width: 100px;float: left;padding-top: 22px;font-size: 12px;}
.da-cart .total-box .sel-all input {vertical-align: middle;margin: -2px 16px 0 18px;}
.da-cart .total-box .option {padding-top: 22px;float: left;font-size: 12px;}
.da-cart .total-box .option a {margin-right: 40px;}
.da-cart .total-box .toolbar {float: right;width: 590px;}
.da-cart .total-box .toolbar .btn-count {float: right;width: 120px;background-color: #f25e5a;text-align: center;line-height: 60px;margin-top: -1px;margin-right: -1px;font-size: 18px;color: #fff;}
.da-cart .total-box .toolbar .total-count {float: right;padding-right: 18px;padding-top: 10px;line-height: 20px;}
.da-cart .total-box .toolbar .total-count p{font-size: 12px;color:#666}
.da-cart .total-box .toolbar .total-count .item {float: left;width: 140px;text-align: right;}
.da-cart .total-box .toolbar .total-count .sumprice {display: inline-block;}
.rede1 {color: #e14958;}
.da-cart .total-box .toolbar .ammount {float: right;padding-right: 32px;padding-top: 12px;font-size:12px;color:#666}
.f20{font-size: 20px;color: #e14958;}
/*------登录------*/
.da-cart .cart-collection {padding-top: 46px;padding-left: 20px;}
.da-cart .cart-collection .title {width: 142px;font-size: 14px;border-top: dotted 1px #ccc; margin: 0 auto;}
.da-cart .cart-collection .title p {background-color: #fff;width: 80px;margin: -12px auto 0;text-align: center;color:#666}
.da-cart .cart-collection .data-empty1 {width: auto;height: 60px;margin: 18px auto 0;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
.da-cart .cart-collection .data-empty1 td {padding: 10px 0;font-size: 16px;
color:#666}
.da-cart .cart-collection .data-empty2 td a {font-size: 16px;background: #df4b5b;color: #fff;text-decoration: none;width: 170px;height: 40px;text-align: center;line-height: 40px;display: block;}
.da-cart .cart-collection .data-empty1 td a {color: #5858d7;font-size: 14px;text-decoration: underline;}
.da-cart .cart-collection .data-empty2 td .lh{color:#fff;font-size: 16px;}
