@charset "utf-8";
li{ list-style: none;}
.box{
	width: 1200px;
	height:100%;
	margin:0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}
.list{
	width: 1200px;
	margin:20px auto;
	clear: both;
}
.list>ul{
	width: 1200px;
}
.list>ul>li{
	border: 1px solid #e5e5e5;
    float: left;
    height: 398px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 283px;
    position:relative;
}
.list>ul>li>img{
	height: 268px;
    width: 283px;	
}
.list span{
	display: inline-block;
	color: red;
	margin-top:5px;
}
.list>ul>li>a{
	background-color: #e14958;
    border: 1px solid #e14958;
    color: #fff;
    height: 38px;
    width: 283px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    display: block;
    position:absolute;
    bottom:0;
    left:0;
    cursor: pointer;
}
/*侧边栏*/
.tools{	
	width: 50px;
	position: fixed;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: white;
	z-index: 200;
}
.tools>ul{
	width: 50px;
	position: absolute;
	background: black;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.tools>ul>li{
	margin: 5px;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.5);
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
}

.tools>ol{
	width: 300px;
	position: absolute;
	background: gray;
	top: 0px;
	bottom: 0px;
	right: -250px;
	overflow-y: auto;
	overflow-x: hidden;
}
.tools>ol>li{
	width: 300px;
	text-align: center;
	margin-top: 10px;
}
.tools>ol img{
	width:150px;
	height: 120px;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;	
	margin: 0 auto
}
.tools>ol input{
	border: none;
	background: whitesmoke;
	width: 40px;
	height: 20px;
}
.tools>ol input:nth-child(2){
	background: white;
	text-align: center;
}

.fly{
	position:absolute;
	width:150px;
	height: 120px;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
}
.list>ul>li>h4{
	color:#666;
	font-size:14px;
	text-indent: 20px;
	font-weight: 100;
}
.tools>ol>li>h4{
	color:#fff;
	font-size: 14px;
}
