@charset "utf-8";
/*----介绍----*/
.da-detail {width: 1200px;margin: 0 auto;padding-bottom: 30px;min-height:5850px;overflow:hidden;clear: both;}
.da-detail .detail-link {height: 40px;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;line-height: 40px;margin: 10px 0;clear: both;}
.da-detail .detail-link li {float: left;padding-right: 14px;font-size:12px;color:#666}
.da-detail .detail-link li a {display: inline-block;padding-right: 10px;padding-left: 10px;}
.ico-home {background: url(../img/list/l1.jpg)no-repeat;width: 20px;height: 14px;}
.ico-home, .share-btn .icon-share {display: inline-block;vertical-align: middle;margin-top: -2px;}
.icon-to {background:url(../img/list/l2.jpg) no-repeat;vertical-align: middle;display: inline-block;height:21px;width:7px;}
/*----左商品----*/ 
.detain-main{clear:both}
.da-detail .detail-left {width: 1020px;float: left;}
.da-detail .detail-left .detail-intro{margin-bottom:20px;clear:both;}
.da-detail .detail-left .goods-show{width:381px;float:left;padding-top: 10px;}
.da-detail .detail-left .goods-show .big {width: 379px;height: 379px;border: 1px solid #e5e5e5;position:relative;}
.da-detail .detail-left .goods-show .goods-big {width: 379px;height: 379px;position:relative}
.da-detail .detail-left .goods-show .big .float_layer{width: 50px;height: 50px;border: 1px solid #000;background: #fff;filter: alpha(opacity: 30);opacity: 0.3;position: absolute;top: 0;left: 0;display: none;}
.da-detail .detail-left .goods-show .big .mark {width: 100%;height: 100%;position: absolute;z-index: 2;left: 0px;top: 0px;filter: alpha(opacity: 0);opacity: 0;}
.da-detail .detail-left .goods-show .big .small {position: absolute;top: -1px;left: 400px;width: 329px;height: 329px;overflow: hidden;border: 2px solid #CCC;display: none;z-index: 5;}
.da-detail .detail-left .goods-show .big .small img {position: absolute;top: -30px;left: -80px;}
.da-detail .detail-left .goods-show .goods-big .goods-big-img{height:379px;width:379px}
.da-detail .detail-left .goods-show .share {padding-top: 30px;position: relative;z-index: 3;clear: both;overflow: hidden;}

.share-btn .share-btn-inner {height: 16px;line-height: 16px;width: auto;color: #666;}
.share-btn ,.share-btn .share-btn-inner{float:left;margin:0 4px 0 0;padding:0}
.share .icon-share {margin-right: 4px;}
.share-btn .icon-share {background: url(../img/detail/d1.jpg) no-repeat ;width: 16px;height: 16px;}
.ico-home, .share-btn .icon-share {display: inline-block;vertical-align: middle;margin-top: -2px;}
.pf40 {padding-left: 40px;}
.da-detail .detail-left .goods-show .share .ico-collect, .da-detail .detail-left .goods-show .share .ico-infonote {margin-right: 4px;} 
.pf40 .ico-collect{background: url(../img/detail/d2.jpg) no-repeat;width:18px;height:15px;display: inline-block; vertical-align: middle;margin-top: -2px;margin-left: 90px;}
.fr{float: right;}
.da-detail .detail-left .goods-show .share .tip-note-box .tip-title{position:absolute;z-index: 3;text-align: center;left:20px;}
.ico-collect, .ico-infonote {display: inline-block;background: url(../img/detail/d3.jpg) no-repeat;vertical-align: middle;margin-top: -2px;height: 15px;width:12px;}
/*----右商品----*/
.da-detail .detail-left .goods-data {padding-left: 40px;overflow: hidden;margin-top: -10px;}
.da-detail .detail-left .goods-data h1 {font-size: 20px;margin-top: 10px;margin-bottom: 30px;font-weight: 400;word-break: break-all;word-wrap: break-word;}
.da-detail .detail-left .goods-data dt {float: left;width: 80px;line-height: 40px;font-size: 12px;color:#666}
.da-detail .detail-left .goods-data dd {float: left;z-index: 2;max-width: 510px;}
.bold {font-weight: 700;padding-left: 5px;}
.f30 {font-size: 30px;}
.da-detail .detail-left .goods-data .goods-price{padding-bottom: 24px;height:30px}
.da-detail .detail-left .goods-data .goods-price dd .price-off {background-color: #f25e5a;color: #fff;padding: 0 2px;line-height: 15px;display: inline-block;}
p,.flfl{color:#666;font-size: 12px;}
.jian{padding:0 5px;font-size: 12px;}
.da-detail .detail-left .goods-data .goods-function {height: 20px;margin-top: 24px;padding: 10px 0;border-top: dotted 1px #e5e5e5;border-bottom: dotted 1px #e5e5e5;clear: both;overflow: hidden;}
.da-detail .detail-left .goods-data .goods-function li:first-child {
border: 0;}
.da-detail .detail-left .goods-data .goods-function li {float: left;width: 198px;text-align: center;height: 20px;line-height: 20px;border-left: solid 1px #e5e5e5;font-size: 12px;color:#666}
span{color:#666;font-size: 12px;}
.da-detail .detail-left .goods-data .goods-number {padding-top: 20px;clear: both;}
.da-detail .detail-left .goods-data dt {float: left;width: 80px;line-height: 40px;}
.da-detail .detail-left .goods-data dd {float: left;z-index: 2;max-width: 510px;}
.da-detail .detail-left .goods-data .goods-number .number {margin-right: 10px;position: relative;float: left;width: 60px;height: 36px;padding-top: 4px;}
.da-detail .detail-left .goods-data .goods-number .number .btn-reduce {width: 14px;height: 12px;border: 1px solid #e5e5e5;position: absolute;right: 0;text-align: center;top: 22px;}
.da-detail .detail-left .goods-data .goods-number .number .btn-reduce .ico-u-5 {vertical-align: top;margin-top: 4px;}
.ico-5-4, .ico-u-5, .ico-u-5-4 {border-color: #666 transparent transparent;}
.ico-d-5, .ico-u-5 {border-width: 5px;border-color: transparent transparent #666;}
.ico-d-5, .ico-r-3-4, .ico-u-5 {border-style: solid;display: inline-block;height: 0;line-height: 0;width: 0;}
.da-detail .detail-left .goods-data .goods-number .number .btn-add {width: 14px;height: 12px;border: 1px solid #e5e5e5;position: absolute;right: 0;top: 4px;text-align: center;}
.da-detail .detail-left .goods-data .goods-number .number .btn-add .ico-d-5, .da-detail .detail-left .goods-data .goods-number .number .btn-reduce .ico-d-5 {vertical-align: top;}
.da-detail .detail-left .goods-data .goods-number .number .number-input {width: 38px;height: 28px;line-height: 28px;text-align: center;border: 1px solid #e5e5e5;}
.da-detail .detail-left .goods-data .goods-btn {padding-left: 80px;padding-top: 30px;clear:both}
.btn-buy, .btn-frontoney {border: 2px solid #e14958;color: #e14958;margin-right: 20px;background-color: #fff;line-height: 34px;height: 34px;}
.btn-buy, .btn-frontoney, .da-cart-add {float: left;text-align: center;width: 136px;font-size: 16px;}
.da-cart-add {background-color: #e14958;border: 1px solid #e14958;color: #fff;line-height: 32px;height: 38px;}
.da-detail .detail-left .goods-data .goods-tips {padding-left: 80px;padding-top: 30px;clear:both}
.da-detail .detail-left .goods-data .goods-tips>span {padding-right: 10px;}
.mr20 {margin-right: 20px;}
.ico-mark-1 {background: url(../img/detail/d4.jpg) no-repeat;display: inline-block;}
.ico-mark-1, .ico-mark-2, .ico-mark-3 {vertical-align: middle;width: 20px;height: 22px;margin-right: 10px;}
.ico-mark-2 {background: url(../img/detail/d5.jpg) no-repeat;display: inline-block;}
.ico-mark-3 {background: url(../img/detail/d6.jpg) no-repeat;display: inline-block;}
/*-------商品信息-------*/
.da-detail .tagg{width:960px;min-height:3000px;overflow: hidden;margin-top: 20px;}
.tagg dt{font-size: 20px;line-height: 40px;border-bottom: 1px dashed #666;}
.tagg dd img:first-child{margin-top:20px;}
.tagg img{margin-left: 50px;}
