@charset "utf-8";
#da-search{height:4568px;background: #fff;width:1200px;margin:0 auto;overflow: hidden;}
/*----search----*/
#da-search .search-link{height: 40px;line-height: 40px;margin:10px 0;}
#da-search .search-link li{float: left;padding-left: 14px;}
#da-search .search-link li a{display: inline-block;margin-right: 14px;}
a,a:hover,a:visited{color:#666;font-size: 14px;}
.ico-home{background: url(../img/list/l1.jpg) no-repeat;height:14px;width:20px;}
.ico-home,.share-btn .icon-share{display: inline-block;margin-top: -2px;vertical-align: middle;}
.icon-to{background: url(../img/list/l2.jpg) no-repeat;display: inline-block;height:21px;width:7px;vertical-align: middle;}
#da-search .search-link li .sort{border:1px solid #ccc;height:23px;line-height: 23px;margin-top:8px;padding:0 24px 0 2px;position: relative;z-index: 2;}
#da-search .search-link li .sort .ico-sort-ar{right: 6px;}
#da-search .ico-sort-ar{position:absolute;top:0;right: 0;}
#da-search .ico-sort-ar .up {border-color: transparent transparent #c2c2c2;display: block;vertical-align: top;margin-top: 10px;}
#da-search .ico-sort-ar .down, .da-search .ico-sort-ar .up {height: 0;line-height: 0;width: 0;border-style: solid;border-width: 6px 3px;}
#da-search .ico-sort-ar .down {display: block;border-color: #c2c2c2 transparent transparent;vertical-align: bottom;margin-top: 6px;}
#da-search .search-link .search-input {padding: 0 3px;width: 140px;height: 20px;line-height: 20px;border: 0;}
#da-search .search-link li .sort .ico-search {position: absolute;right: 6px;top: 6px;width: 13px;height: 12px;border: 0;}
.ico-search {background: url(../img/list/l5.jpg) no-repeat;vertical-align: middle;display: inline-block;}
/*---搜索-----*/
#da-search .condition {border: 1px solid #ccc;padding: 18px 20px 20px;height:106px;width:1160px;}
#da-search .condition li {position: relative;clear:both;font-size:12px;}
#da-search .condition dt {float: left;width: 70px;font-weight: 700;padding: 8px 0 10px;}
#da-search .condition .single-select ,#da-search .condition .ss,#da-search .condition .s3 {height: 24px;overflow: hidden;}
#da-search .condition dd {float: left;width: 840px;line-height: 14px;padding-bottom: 10px;}
#da-search .condition .select-inner,#da-search .condition .s1,#da-search .condition .s2 {height: auto;clear: both;}
#da-search .condition .text{font-size: 14px;}
#da-search .condition dd .item {float: left;margin: 10px 20px 0 0;display: block;width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-decoration: underline;}
#da-search .condition li .option {position: absolute;right: 0;top: 2px;}
#da-search .condition li .option a{width: 58px;height: 24px;line-height: 24px;border: 1px solid #ccc;display: inline-block;}
#da-search .condition li .option a .ico-r-4-7 {border-color: transparent transparent transparent #ccc;border-width: 4px 7px;margin: -2px 3px 0 10px;}
#da-search .condition li .option a .ico-d-4-7, #da-search .condition li .option a .ico-r-4-7 {display: inline-block;vertical-align: middle;height: 0;line-height: 0;width: 0;border-style: solid;}
.text-more,.text-mul{font-size: 12px;}
#da-search .condition li .option a .ico-add {padding: 0 9px;vertical-align: middle;margin-top: -6px;display: inline-block;}
/*----排序----*/
#da-search .sortbar {background-color: #fbfbfb;border: 1px solid #ccc;height: 36px;line-height: 36px;padding: 0 15px;margin-top: 20px;position: relative;}
.pr10 {padding-right: 10px;}
#da-search .sortinner a.current {color: #e14958;}
#da-search .sortinner a {display: inline-block;position: relative;padding-right: 10px;margin-right: 20px;font-size: 12px;}
.ico-sort-dr {background-position: -11px top;}
.ico-sort-d {width: 9px;height: 12px;display: block;position: absolute;right: 0;top: 13px;}
.ico-sort, .ico-sort-d {vertical-align: middle;background: url(../img/list/l7.jpg) left center no-repeat;}
#da-search .ico-sort-ar .uu {margin-top: 16px;}
.ico-sort, .sd {background: url(../img/list/l6.jpg) left center no-repeat;}
#da-search .sortbar .stock {padding-right: 44px;font-size: 12px;}
#da-search .sortbar .stock input {vertical-align: middle;width: 14px;height: 14px;margin-top: -4px;margin-right: 3px;}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0;}
#da-search .sortpage {position: absolute;top: 0;right: 8px;}
#da-search .sortpage .p28 {padding-right: 28px;font-size: 12px;}
.rede1 {color: #e14958;font-size: 12px;}
.py{font-size: 12px;padding-right: 10px;}
#da-search .sortpage .line {margin: 0 2px;}
/*-----商品列表-----*/
#da-search .searchlist {margin-left: -20px;margin-top: 20px;}
#da-search .searchlist ul{clear:both}
#da-search .searchlist ul>li{width: 283px;height: 398px;border: 1px solid #e5e5e5;margin-left: 20px;float: left;margin-bottom: 20px;}
#da-search .searchlist li .search-img{width: 283px;height: 268px;display: block;position: relative;z-index: 1;}
#da-search .searchlist li .search-img img{width: 283px;height: 268px;}
#da-search .searchlist li .data{padding: 8px 26px 0;}
#da-search .searchlist li .data .price {padding-bottom: 8px;}
#da-search .searchlist li .data .price .now-price {color: #e34755;font-size: 20px;padding-right: 4px;margin-left: 3px;}
#da-search .searchlist li .data .price .old-price, .sidebar-collect .old-price {text-decoration: line-through;}
#da-search .searchlist li .data .title {overflow: hidden;height: 38px;line-height: 18px;color: #666;}
#da-search .searchlist li .data .title .discount {color: #e34755;}
#da-search .searchlist li .data .title .biao{font-size: 12px;}
#da-search .searchlist li .data .function{padding-top: 8px;font-size: 12px;color: #999;}
#da-search .searchlist li .data .function .line {padding: 0 6px;}
/*----页数------*/
#da-search .pagination{clear:both}
#da-search .pagination .page {float: right;padding-bottom: 20px;padding-top: 20px;}
.pagination .page ul {float: left;}
.pagination .page ul li.current {background-color: #e5e5e5!important;color: #fff;cursor: default;}
.pagination .page ul li{float: left;width: 28px;}
.pagination .page .next, .pagination .page .page-each, .pagination .page .pre, .pagination .page ul li {text-align: center;height: 28px;line-height: 28px;border: 1px solid #e5e5e5;margin-left: 10px;}
.pagination .page .next, .pagination .page .pre {float: left;width: 48px;}
.pagination .page .next{margin-right: 15px;}
.pagination .page .page-link{font-size: 12px;color:#666}
/*----划过------*/
#da-search .searchlist ul>li:hover{box-shadow: 0 0 10px #D5D2D2;}
