@charset "utf-8";
/*------总计------*/
.total-box {height: 58px;border: 1px solid #ccc;width: 1018px;margin:0  auto;background-color: #f2f2f2;}
.total-box .sel-all {width: 100px;float: left;padding-top: 22px;font-size: 12px;}
.total-box .sel-all input {vertical-align: middle;margin: -2px 16px 0 18px;}
.total-box .option {padding-top: 22px;float: left;font-size: 12px;}
.total-box .option a {margin-right: 40px;}
.total-box .toolbar {float: right;width: 590px;}
.total-box .toolbar .btn-count {float: right;width: 120px;background-color: #f25e5a;text-align: center;line-height: 60px;margin-top: -1px;margin-right: -1px;font-size: 18px;color: #fff;}
 .total-box .toolbar .total-count {float: right;padding-right: 18px;padding-top: 10px;line-height: 20px;}
.total-box .toolbar .total-count p{font-size: 12px;color:#666}
.total-box .toolbar .total-count .item {float: left;width: 140px;text-align: right;}
.total-box .toolbar .total-count .sumprice {display: inline-block;}
.rede1 {color: #e14958;}
 .total-box .toolbar .ammount {float: right;padding-right: 32px;padding-top: 12px;font-size:12px;color:#666}
.f20{font-size: 20px;color: #e14958;}
/*------登录------*/
.cart-collection {padding-top: 46px;padding-left: 20px;}
.cart-collection .title {width: 142px;font-size: 14px;border-top: dotted 1px #ccc; margin: 0 auto;}
.cart-collection .title p {background-color: #fff;width: 80px;margin: -12px auto 0;text-align: center;color:#666}
.cart-collection .data-empty1 {width: auto;height: 60px;margin: 18px auto 0;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
.cart-collection .data-empty1 td {padding: 10px 0;font-size: 14px;
color:#666;margin: 0 auto;width: 170px;}
.cart-collection .data-empty2 td a {font-size: 16px;background: #df4b5b;color: #fff;text-decoration: none;width: 170px;height: 40px;text-align: center;line-height: 40px;display: block;}
.cart-collection .data-empty1 td a {color: #5858d7;font-size: 14px;text-decoration: none;}
.cart-collection .data-empty2 td .lh{color:#fff;font-size: 16px;}

/*bottom*/
#bottom{width:1263px;height:408px;background: #fff;margin:0 auto;}
#bottom .b_top{height:79px;line-height: 79px;border-top:1px solid  #d8d8d8;border-bottom: 1px solid #e0e0e0;box-shadow:0 2px 2px #e0e0e0}
.b_top .ull{width:960px;margin:0 auto;position:relative;}
.b_top .ull li{float: left;margin-left: 100px;color: #666;font-size: 14px;}
.b_top .ull li:first-child{width:170px;margin-left: 0;background: url(../img/login/b1.jpg) no-repeat 145px 22px;}
.b_top .ull li:nth-child(2){width:145px;background: url(../img/login/b2.jpg) no-repeat left center;padding-left:35px;}
.b_top .ull li:nth-child(3){width:125px;background: url(../img/login/b3.jpg) no-repeat left center;padding-left:35px;}
.b_top .ull li:nth-child(4){width:108px;background: url(../img/login/b3.jpg) no-repeat left center;padding-left:35px;}
#bottom .b_con{width:1110px;margin:0 auto;padding: 24px 0 40px 42px;border-bottom: 1px solid #d8d8d8;}
#bottom .b_con .first{float:left;width:660px;}
#bottom .b_con dt{font-size: 18px;line-height: 40px;color:#666;}
#bottom .b_con dd{font-size: 14px;line-height: 20px;color:#666;}
#bottom .b_con .last{overflow: hidden;}
#bottom .b_bot{padding-bottom: 20px;text-align: center}
#bottom .b_bot p{padding:20px 0 0;}
#bottom .f1{font-size: 14px;color: #666;}
#bottom .b_bot a{color: #666;}
#bottom table{width:580px;margin:20px auto 0;}
#bottom table img{float:left;margin-right: 4px;height:41px;width:114px;}
#bottom p{padding:20px 0 0;}
